# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.npm
*.log
backend/uploads/

# IDEs
.vscode/
.idea/

# Generated Data
backend/data/golive_audits/
backend/data/qr_code_audits/
backend/data/subscription_audits/
backend/diagrams/
backend/generated_frds/
